
.heading
{
font-size: 27px;
color: black;
width: 100%;
margin: 0px;
background-color: rgb(88, 216, 255);
}

#status
{
font-size: 20px;
color: black;
background-color: palevioletred;

}

body{
    background-size: cover;
    background-position: center;
}

canvas{
    box-shadow: 10px 10px 10px palevioletred;
    border-radius: 10px;
    margin-top: 40px;
}

.button1{
    background-color: rgb(29, 201, 253);
    
    font-size: 16px;
    margin: 20px;
    display: block;
}

a{
    text-decoration: none;
     color: azure;

}





